<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stew.core.api.resource.mapper.CoreUserMapper">

    <select
        id="findByPk"
        parameterType="com.example.stew.core.api.resource.entity.CoreUserEntity"
        resultType="com.example.stew.core.api.resource.entity.CoreUserEntity">
        select
            "USER_ID",
            "SEI",
            "MEI",
            "PASSWORD",
            "LAST_LOGIN",
            "JOINED_DATE",
            "POSITION",
            "CREATE_USER",
            "CREATE_AT",
            "UPDATE_USER",
            "UPDATE_AT",
            "DELETE_FLG",
            "VERSION"
        from
            "CORE_USER"
        where
            "USER_ID" = #{userId}
    </select>

</mapper>
