<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stew.core.api.resource.mapper.CoreUserMapper">

    <select
        id="findByPk"
        parameterType="com.example.stew.core.api.resource.entity.CoreUserEntity"
        resultType="com.example.stew.core.api.resource.entity.CoreUserEntity">
        select
            "USER_ID",
            "USER_SEQ",
            "JOINED_DATE",
            "RETIRED_DATE",
            "SEI",
            "MEI",
            "MAIL_ADDRESS",
            "PASSWORD",
            "POSITION",
            "LAST_LOGIN",
            "CREATE_USER",
            "CREATE_AT",
            "UPDATE_USER",
            "UPDATE_AT",
            "DELETE_FLG",
            "VERSION"
        from
            "CORE_USER"
        <where>
            and "USER_ID" = #{userId}
            and "USER_SEQ" = #{userSeq}
        </where>
    </select>

    <select
        id="find"
        parameterType="com.example.stew.core.api.resource.entity.CoreUserEntity"
        resultType="com.example.stew.core.api.resource.entity.CoreUserEntity">
        select
            "USER_ID",
            "USER_SEQ",
            "JOINED_DATE",
            "RETIRED_DATE",
            "SEI",
            "MEI",
            "MAIL_ADDRESS",
            "PASSWORD",
            "POSITION",
            "LAST_LOGIN",
            "CREATE_USER",
            "CREATE_AT",
            "UPDATE_USER",
            "UPDATE_AT",
            "DELETE_FLG",
            "VERSION"
        from
            "CORE_USER"
        <where>
            <if test="userId != null">
                and "USER_ID" = #{userId}
            </if>
            <if test="userSeq != null">
                and "USER_SEQ" = #{userSeq}
            </if>
            <if test="joinedDate != null">
                and "JOINED_DATE" = #{joinedDate}
            </if>
            <if test="retiredDate != null">
                and "RETIRED_DATE" = #{retiredDate}
            </if>
            <if test="sei != null and sei != ''">
                and "SEI" = #{sei}
            </if>
            <if test="mei != null and mei != ''">
                and "MEI" = #{mei}
            </if>
            <if test="mailAddress != null and mailAddress != ''">
                and "MAIL_ADDRESS" = #{mailAddress}
            </if>
            <if test="password != null and password != ''">
                and "PASSWORD" = #{password}
            </if>
            <if test="position != null and position != ''">
                and "POSITION" = #{position}
            </if>
            <if test="lastLogin != null">
                and "LAST_LOGIN" = #{lastLogin}
            </if>
            <!-- BaseEntity -->
            <if test="createUser != null and createUser != ''">
                and "CREATE_USER" = #{createUser}
            </if>
            <if test="createAt != null">
                and "CREATE_AT" = #{createAt}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and "UPDATE_USER" = #{updateUser}
            </if>
            <if test="updateAt != null">
                and "UPDATE_AT" = #{updateAt}
            </if>
            <if test="deleteFlg != null">
                and "DELETE_FLG" = #{deleteFlg}
            </if>
            <if test="version != null">
                and "VERSION" = #{version}
            </if>
        </where>
    </select>

    <select
        id="findMaxSeqUserByUserId"
        parameterType="com.example.stew.core.api.resource.entity.CoreUserEntity"
        resultType="com.example.stew.core.api.resource.entity.CoreUserEntity">
        select
            "USER_ID",
            "USER_SEQ",
            "JOINED_DATE",
            "RETIRED_DATE",
            "SEI",
            "MEI",
            "MAIL_ADDRESS",
            "PASSWORD",
            "POSITION",
            "LAST_LOGIN",
            "CREATE_USER",
            "CREATE_AT",
            "UPDATE_USER",
            "UPDATE_AT",
            "DELETE_FLG",
            "VERSION"
        from
            "CORE_USER" cu
        <where>
            and "USER_ID" = #{userId}
            and cu."USER_SEQ" =
                (
                    select max(cu_max_seq."USER_SEQ")
                    from "CORE_USER" cu_max_seq
                    where cu_max_seq."USER_ID" = cu."USER_ID"
                )
            and "RETIRED_DATE" is null
        </where>
    </select>

    <update
        id="updateByPk"
        parameterType="com.example.stew.core.api.resource.entity.CoreUserEntity">
        update
            "CORE_USER"
        set
            <if test="joinedDate != null">
                "JOINED_DATE" = #{joinedDate},
            </if>
            <if test="retiredDate != null">
                "RETIRED_DATE" = #{retiredDate},
            </if>
            <if test="sei != null">
                "SEI" = #{sei},
            </if>
            <if test="mei != null">
                "MEI" = #{mei},
            </if>
            <if test="mailAddress != null">
                "MAIL_ADDRESS" = #{mailAddress},
            </if>
            <if test="password != null">
                "PASSWORD" = #{password},
            </if>
            <if test="position != null">
                "POSITION" = #{position},
            </if>
            <if test="lastLogin != null">
                "LAST_LOGIN" = #{lastLogin},
            </if>
            <if test="updateUser != null">
                "UPDATE_USER" = #{updateUser},
            </if>
            <if test="updateAt != null">
                "UPDATE_AT" = #{updateAt},
            </if>
            <if test="deleteFlg != null">
                "DELETE_FLG" = #{deleteFlg},
            </if>
            "VERSION" = "VERSION" + 1
        <where>
            and "USER_ID" = #{userId}
            and "USER_SEQ" = #{userSeq}
            and "VERSION" = #{version}
        </where>
    </update>

</mapper>
